body{
    font-family: 'Bebas Neue', cursive;
}

section{
    margin-bottom: 150px;
    padding-bottom: 120px;
}
.nav-area{
   
    padding-right:5%;
    padding-bottom: 100px;
  
   
}

ul{
list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 70%;
}
li{
    float: left;
    padding-left: 5%;
  
}
.top-banner{

    padding-bottom: 250px;
}
.name-highlight{
    color:rgb(12, 47, 163) ;
    font-size: 25px;

}

.half-border{
    width: 40%;
    float: left;
    padding-left: 5%;
}


.half-border img{
    width: 100%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(99, 132, 240), rgb(31, 20, 177));
    padding: 10px 20px;
    border-radius: 10px;
    color: gold;
}

.about-me{
    margin-bottom: 200px;
    padding-bottom: 200px;
}
.project-area{
    padding-top: 20%;
    padding-bottom: 2px;
    
}
.project{
    padding-left: 40%;
}

.portfolio img{
    width:100%;
   
}
.portfolio{
    width: 30%;
    float: left;
    padding-left: 40px;
}

.car{
    padding-left: 40%;
}
.image-car{
    width: 100%;
   
}

.car-collection{
    width: 100%;
    padding-left: 30px;
    margin-left: 20px;
    
   
}
.hobby-area{
    margin-bottom: 10px;
    padding-bottom: 120px;
}
.car-images img{
    width: 100%;
}

.car-images{
    margin-top: 10px;
    padding-top: 5px;
    margin-bottom: 20px;
    padding-bottom: 2px;
    width: 30%;
  float: left;
  padding: 5px 5px;
  box-shadow: 10px 20px 30px, solid black;
}
.car-images img:hover{
    transform: scale(.9) ;
    
    
    
}
.connect{
    width: 50%;
    padding-left: 500px;
}

.work-area img{
    width: 100%;
    /* margin-top: 10px;
    padding-top: 5px; */
}

.work-bg{
    padding-left: 150px;
    font-size: 30px;
    padding-top: 50px;
    color:gold;
   
}

.work-button{

    text-align: right;
    padding-right: 100px;
    margin-bottom: 40px;
}

.work-area{
    margin-left: 150px;
    border-radius: 15px;
    width: 80%;
    margin-top:-140px ;
    background-image: url("shapes/Group_33094_1.png");
    
}

.stay-connected{
    width: 100%;
    float: left;
}

.connected{
    margin-left: 470px;
     padding-right:2%;
    padding-bottom: 100px;
   
}

.icon {
    
list-style-type: none;
  margin: 0;
  padding: 0;
  

}

.nav-item{
   width: 70%;
   margin-top: -80px;
   padding-left: 34%;
    
}
  
.nav-item img{

    width: 25%;
   
    
}

.li-icon{
    padding: 2px 2px;
}

footer{
    text-align: center;
    font-size: 12px;
}

